body {
  position: relative;
  background-image: url(./img/Group.png);
  background-repeat: no-repeat;
  background-position: top -580px right -380px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fd8061;
}
a:visited {
  color: #fd8061;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.log-in:visited {
  color: #f9faff;
}

.menu {
  font-family: "AvenirNextCyr-Regular";
  font-weight: 800;
  color: #1c1e52;
  list-style: none;
  padding-top: 24px;
}

.first {
  display: inline;
  margin-left: 32px;
}

.login {
  color: #f9faff;
  margin-top: 42px;
  margin-right: 40px;
}

.log-in:first-child {
  margin-right: 30px;
}

.content {
  padding-left: 40px;
}

.slogan {
  font-family: "AvenirNextCyr-Bold";
  font-weight: 900;
  font-size: 48px;
  padding-top: 165px;
  padding-bottom: 24px;
  line-height: 64px;
  color: #1c1e52;
}

.get {
  font-family: "AvenirNextCyr-Regular";
  font-weight: 800;
  width: 170px;
  height: 40px;
  color: #f9faff;
  background: #fd8061;
  border-radius: 100px;
  border: none;
  outline: none;
}

.get:hover {
  background: #1c1e52;
}

.happy {
  color: #fd8061;
}

.list {
  font-family: "AvenirNextCyr-Bold";
  font-weight: 800;
  font-size: 16px;
  color: #1c1e52;
  list-style: none;
  margin-top: 24px;
  padding: 0px;
}

.second {
  margin-bottom: 8px;
}

.icon {
  margin-right: 10px;
}

.freshh {
  position: absolute;
  top: 186px;
  left: 480px;
  width: 800px;
  height: 534px;
  background-image: url(./img/freshh-connection-unsplash-removebg.png);
}
